.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

.tet-with{
 color: white;
}

.playwrite {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  